.inner-body {
    margin: 0;
    padding: 0;
    /* height: calc(100vh - 64px); */
    height: calc(100vh + 185px);

    width: 100%;
    overflow-y: auto;
}

.sidebar {
    float: left;
    /* width: 295px; */
    width: 335px;
    /* height: calc(100% - 10px) !important; */
    /* background-color: #ffffff; */
    padding-top: 7px;
    overflow-y: auto;
    background-color: #e0dfdd;
    /* background-color: #f8f9fa; */
    border-right: 1px solid #cdcdcd;
}

.sidebar-height-asset {
    height: calc(100% - 10px);
}

.sidebar-height-hvshell {
    height: calc(100% + 785px);
}

.sidebar-height-master {
    height: calc(100% + 15px) !important;
}

.sidebar-height-plant {
    height: calc(100% + 254px);
}

.sidebar-height-sa {
    height: calc(100% + 0px);
}

.sidebar-height-plant-section {
    height: calc(100% + 10px);
}

.sidebar-height-equipment {
    height: calc(100% + 520px);
}

.btn {
    margin-right: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border-color: black;
}


.bc {
    display: flex;
    justify-content: flex-end;
}

.sidebar-hv_shell,
.sidebar-hv_head {
    padding-top: 11px !important;
}

.sidebar .navbar-btn {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 8px;
    justify-content: center;
}

.sidebar-hv_shell .navbar-btn,
.sidebar-hv_head .navbar-btn {
    padding-bottom: 14px !important;
}

.risk-chart {
    height: 300px;
}

.tabs-center {
    display: flex;
    justify-content: center;
}

.nav-tabs {
    font-size: 14px;
}

.nav-tabs-device {
    font-size: 12px;
}

.main-content {
    float: left;
    /* width: calc(100% - 295px); */
    width: calc(100% - 335px);
    height: calc(100% + 185px);
    /* border-left: 1px solid #cdcdcd; */
    background-color: #f8f9fa;
    padding: 0;
}

.main-content-height-asset {
    height: calc(100% - 10px);
}

.main-content-height-hvshell {
    height: calc(100% + 785px);
}

.main-content-height-plant {
    height: calc(100% + 254px);
}

.main-content-height-sa {
    height: calc(100% + 0px);
}


.main-content-height-equipment {
    height: calc(100% + 520px);
}

.sub-main-content {
    float: left;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    /* border-left: 1px solid #cdcdcd; */
    background-color: #fff;
    padding: 0;
    position: relative;
    top: -24px
}

.wrimagecard-asset {
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 120px;
}

.bg-number {
    background-color: #005BAC;
}

.bg-risk {
    background-color: #64B5F6;
}

.bg-likelihood {
    background-color: #909090;
}

.bg-consequence {
    background-color: #4E4E4E;
}

.bg-sap {
    background-color: #f8f9fa;
}

.label-asset-text {
    color: #fff;
    font-weight: 900;
}

.label-asset-number {
    color: #fff;
    font-weight: 900;
    font-size: 32px;
}

.labelmt-asset-text,
.labelmt-asset-number,
.labelmt-asset-history,
.labelmt-asset-inspection {
    color: #fff;
    font-weight: 400;
}

.label-asset-inspection {
    color: #fff;
    font-weight: 900;
    font-size: 14px;
}

.line-ver {
    position: absolute;
    left: 108px;
}

/* .menu-a {
    margin-bottom: -5px; 
    text-align: center;
} */

.menu-i {
    font-size: 30px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

/* .menu-i-active {
    font-size: 30px; 
    margin-top: 4px; 
    display: flex; 
    justify-content: center;
    color: #e16333;  
} */
/* 
.menu-text {
    font-size: 12px;
    color: #6C757D;
} */

.menu-line {
    width: 0px;
    height: 80px;
    border: 1px #6C757D solid;
}

.menu-image {
    margin-top: 4px;
    width: 50px;
    height: 50px;
}

.menu-avatar {
    width: 120px;
    margin-left: 10px;
    /* color: #6C757D;  */
    color: #fff;
    font-weight: 500;
}

.menu-avatar-name {
    font-size: 16px;
}

.menu-avatar-status {
    font-size: 12px;
}

.menu-logo {
    width: 60px;
    height: 60px;
    margin-top: 2px;
}

.menu-side-right {
    margin-bottom: -5px;
    text-align: center;
    color: #fff;
    /* color: rgba(0,0,0,0.5); */
    cursor: pointer;
}

.menu-side-right:hover {
    color: rgba(0, 0, 0, 0.7);
}

/*SIDEBAR LEFT*/
.sidebar-left-i {
    margin-top: 6px;
    color: #6C757D;
}

.navbar-btn .btn {
    margin: 0;
    color: #6C757D;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 10px;
    background-color: #fff;
}

.navbar-btn .btn:focus {
    border-color: #FFC000;
    box-shadow: 0 0 0 0.2rem rgb(255 192 0 / 25%);
}

/* Content */
.tab-text {
    font-size: 14px;
}

.nav-link:hover {
    color: #E16333 !important;
}

.menu-active i,
.menu-active p {
    color: #E16333;
}

.title-content {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
}

.breadcrumb {
    background-color: #f8f9fa;
    margin: 0;
    padding-left: 0;
    font-size: 16px;
}

.breadcrumb-item a {
    color: #6C757D;
}

.breadcrumb-item a:hover {
    text-decoration: none;
}

.title-form {
    color: #f8f9fa;
    font-size: 16px;
}

.button-top-right {
    margin-top: 6px;
    color: #6C757D;
}

/* tree */
.tree .fa {
    font-size: 14px;
}

.tree,
.tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 1em;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #000;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #f8f9fa;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    color: #369;
}

.tree li button,
.tree li button:active,
.tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

/* Tabpanel */
.tabpanel {
    width: 100%;
    border: none !important;
}

.tabpanel li:first-child .closeTab {
    display: none;
}

.tabpanel li:nth-last-child(1) {
    display: none !important;
}

/* card */
.wrimagecard-topimage_header {
    padding: 20px;
}

.wrimagecard-topimage_title {
    position: absolute;
    top: 20px;
    left: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.wrimagecard-topimage_title .label {
    font-size: 14px;
}

.wrimagecard-topimage_title .value {
    font-size: 28px;
    line-height: 46px;
    margin-left: -2px;
}

/* COMPANY */
.company-img {
    position: relative;
}

.company-text {
    position: absolute;
    top: 130px;
    left: 60%
        /* left: 1050px; */
}

.company-title1 {
    position: absolute;
    top: 170px;
    left: 50%
        /* left: 930px; */
}

.company-title2 {
    position: absolute;
    top: 230px;
    left: 50%
        /* left: 930px; */
}

/* tab css */
.tabs {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.subTab {
    /* color: burlywood; */
    color: #e16333
}

/* .tabs .card {
    border: 0;
} */

/* Card */
.card {
    margin-bottom: 1.5rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    /* border-radius: 10px; */
    border: 0;
}

.card-header-hvshell {
    background-color: #e0dfdd;
    padding: 15px;
}

.card-header-hvshell:first-child {
    border-radius: 5px 5px 0 0 !important;
}

.card .card-header-hvshell button {
    /* margin-left: 5px; */
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: black;
    width: 110px;
    justify-content: end;
}

.card .card-header-hvshell .btn-left-export {
    background-color: #343a40;
}

.card .card-header-hvshell .btn-left-import {
    background-color: #74788d;
}

.card .card-header-hvshell .btn-right-delete {
    background-color: #f47920;
}

.card .card-header-hvshell .btn-right-add {
    background-color: #c55227;
}

.card .card-header-hvshell .btn-right-edit {
    background-color: #005BAC;
}

.card .card-header-hvshell button:focus,
.card .card-header-hvshell button:active {
    border: none;
    outline: none;
}

.pos-between-hvshell {
    display: flex;
    justify-content: end;
    margin-bottom: 1px;
    /* background-color: #E16333; */
    background-color: #FFFFFF;
    color: #F8F9FA;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(0,0,0,.125);
}

.bg-icon-hvshell-export {
    background-color: #343a40;
    padding: 9px;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 226px;
    height: 30px;
    top: 17px
}

.bg-icon-hvshell-import {
    background-color: #74788d;
    padding: 9px;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 106px;
    height: 30px;
    top: 17px
}

.bg-icon-add {
    background-color: #c55227;
    padding: 9px;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 339px;
    height: 30px;
    top: 16px 
}

.bg-icon-delete {
    background-color: #f47920;
    padding: 9px;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 222px;
    height: 30px;
    top: 16px 
}

.bg-icon-edit {
    background-color: #005BAC;
    padding: 9px;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 106px;
    height: 30px;
    top: 16px 
}

.width-remove {
    width: 100% !important;
}

.cml-height {
    min-height: 600px
}

.cml-corrosion {
    transform: rotate(-90deg); 
    position: absolute; 
    left: -50px; 
    top: 130px
}

.cml-thickness {
    transform: rotate(-90deg); 
    position: absolute; 
    left: -81px; 
    top: 393px
}

.cml-margin {
    margin-top: -30px
}

.btn-text {
    font-size: 14px;
    padding-left: 29px;
    margin-right: 7px;
}

#tab-button {
    /* display: table; */
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 200;
}

#tab-button li {
    display: table-cell;
    min-width: 100px;
}

#tab-button li a {
    display: block;
    /* padding: 2px 8px; */
    /* background: #eee; */
    /* border: 1px solid #ddd; */
    font-size: 14px;
    text-align: center;
    color: #6C757D;
    text-decoration: none;
}

#tab-button li:not(:first-child) a {
    border-left: none;
}

#tab-button li a:hover,
#tab-button .is-active a,
#tab-button .is-active .fa {
    color: #e16333;
}

#tab-button li a .tab-text {
    padding-top: 3px;
}

#tab-button .tab-border {
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}
#tab-button .tab-border-left {
    border-left: 1px solid #cdcdcd;
}


.is-active {
    /* border-bottom: 4px solid #e16333; */
    -webkit-box-shadow: inset 0 -4px 0 #e16333;
    transition: all 0.3s;
}

.tab-contents,
.tab-contents-company {
    padding: .5em 2em 1em;
    /* border-top: 1px solid #ddd; */
}

.tab-button-outer {
    display: none;
    color: #6C757D;
}

.sub-tab-button-outer {
    display: none;
    color: #6C757D;
    border-bottom: 1px solid #cdcdcd;
}

.tab-button-outer li a {
    padding: 10px;
}

.sub-tab-button-outer li a {
    padding: 10px;
}

.tab-button-outer li i {
    color: #6C757D;
    font-size: 20px;
    padding: 5px;
}

.sub-tab-button-outer li i {
    color: #6C757D;
    font-size: 20px;
    padding: 5px;
}

/* jstree custom  */
.jstree-custom {
    margin: 1rem 0;
}

.jstree-default .jstree-anchor {
    font-size: 12px !important;
    color: #6C757D !important;
    box-shadow: inset 0 0 0 #999 !important;
}

.jstree-default .jstree-anchor:hover {
    /* background-color: #f8f9fa !important; */
    color: #f47920 !important;
    /* color:#212529 !important; */
    box-shadow: inset 0 0 0 #999 !important;
}

.jstree-default .jstree-clicked {
    /* color: #212529 !important; */
    color: #f47920 !important;
    /* background-color: #f8f9fa !important; */
    box-shadow: inset 0 0 0 #999 !important;
}

/* .jstree-default .jstree-icon:empty {
    height: 40px !important;
} */

@media screen and (min-width: 768px) {
    .tab-button-outer {
        position: relative;
        z-index: 2;
        display: block;
    }

    .sub-tab-button-outer {
        position: relative;
        z-index: 2;
        display: block;
    }

    .tab-select-outer {
        display: none;
    }

    .tab-contents {
        position: relative;
        top: -1px;
        margin-top: 0px;
        height: calc(100vh - 105px);
        margin-top: -15px;
    }

    .tab-contents-company {
        position: relative;
        top: -1px;
        margin-top: 0px;
        height: calc(100vh - 105px);
        margin-top: -40px;
    }

    /* CARD ASSET */
    .wrimagecard-image-asset-number,
    .wrimagecard-image-asset-text {
        margin-left: 150px;
    }

    .wrimagecard-image-asset-number2,
    .wrimagecard-image-asset-text2 {
        margin-left: 170px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history,
    .wrimagecard-image-asset-inspection {
        margin-left: 180px;
        margin-top: 10px;
    }

    .wrimagecard-image-asset-inspection {
        margin-left: 190px;
    }
}

@media (min-width: 1280px) {

    /* CARD ASSET */
    .wrimagecard-image-asset-number, .wrimagecard-image-asset-text {
        margin-left: 180px;
    }

    .wrimagecard-image-asset-number2 {
        margin-left: 185px;
        margin-top: 15px;
    }

    .wrimagecard-image-asset-text2 {
        margin-left: 180px;
    }

    .label-asset-text {
        font-size: 20px;
        padding-top: 10px;
    }

    .labelmt-asset-text {
        margin-top: 10px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history, .wrimagecard-image-asset-inspection {
        margin-left: 270px;
    }

    .label-asset-inspection {
        padding-top: 15px;
    }

    .labelmt-asset-inspection {
        padding-top: 10px;
    }

    /* COMPANY, DATA PROPERTY */
    .form-data-property .form-title {
        width: 14%;
    }

    .nav-tabs-device {
        font-size: 9px;
    }

    .nav-tabs-device-cof {
        font-size: 11px;
    }

    /* DAMAGE MECHANISM SUB TAB */
    /* .damage-mechanism-sub-tab {
        font-size: 10px;
    }

    .damage-mechanism-sub-tab-a {
        width: 100px; 
        padding:10px;
    } */
}

@media (min-width: 1366px) {

    /* CARD ASSET */
    .wrimagecard-image-asset-number, .wrimagecard-image-asset-text {
        margin-left: 200px;
    }

    .wrimagecard-image-asset-number2 {
        margin-left: 200px;
        margin-top: 5px;
    }

    .wrimagecard-image-asset-text2 {
        margin-left: 200px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history, .wrimagecard-image-asset-inspection {
        margin-left: 300px;
    }

    .label-asset-inspection {
        padding-top: 8px;
    }

    .labelmt-asset-history {
        margin-top: 15px;
    }

    /* COMPANY, DATA PROPERTY */
    .form-data-property .form-title {
        width: 13%;
    }

    .nav-tabs-device {
        font-size: 10px;
    }

    .nav-tabs-device-cof {
        font-size: 12px;
    }

    /* DAMAGE MECHANISM SUB TAB */
    /* .damage-mechanism-sub-tab-a {
        width: 109.5px;
    } */
}

@media (min-width: 1440px) {

    /* CARD ASSET */
    .wrimagecard-image-asset-number,
    .wrimagecard-image-asset-text {
        margin-left: 220px;
        margin-top: 20px;
    }

    .top-device {
        margin-top: 5px;
    }

    .wrimagecard-image-asset-number2,
    .wrimagecard-image-asset-text2 {
        margin-left: 220px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history, .wrimagecard-image-asset-inspection {
        margin-left: 320px;
    }

    .label-asset-inspection {
        font-size: 16px;
        padding-top: 7px;
    }

    .line-ver {
        left: 119px;
    }

    /* COMPANY, DATA PROPERTY */
    .form-data-property .form-title {
        width: 12%;
    }

    .nav-tabs-device {
        font-size: 11px;
    }

    .nav-tabs-device-cof {
        font-size: 13px;
    }

    /* DAMAGE MECHANISM SUB TAB */
    /* .damage-mechanism-sub-tab-a {
        width: 117.8px;
    } */
}

@media (min-width: 1550px) {

    /* CARD ASSET */
    .wrimagecard-image-asset-number,
    .wrimagecard-image-asset-text {
        margin-left: 250px;
    }

    .wrimagecard-image-asset-number2,
    .wrimagecard-image-asset-text2 {
        margin-left: 245px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history, .wrimagecard-image-asset-inspection {
        margin-left: 360px;
    }

    .label-asset-inspection {
        font-size: 18px;
        padding-top: 6px;
    }

    .line-ver {
        left: 128px;
    }

    /* COMPANY, DATA PROPERTY */
    .form-data-property .form-title {
        width: 11%;
    }

    /* TAB */
    .tab-button-outer li a {
        padding: 10px 20px;
    }

    .nav-tabs-device {
        font-size: 13px;
    }

    .nav-tabs-device-cof {
        font-size: 15px;
    }

    /* DAMAGE MECHANISM SUB TAB */
    /* .damage-mechanism-sub-tab {
        font-size: 12px;
    }

    .damage-mechanism-sub-tab-a {
        width: 130px;
    } */
}

@media (min-width: 1660px) {

    /* CARD ASSET */
    .wrimagecard-image-asset-number,
    .wrimagecard-image-asset-text {
        margin-left: 270px;
    }

    .wrimagecard-image-asset-number2,
    .wrimagecard-image-asset-text2 {
        margin-left: 265px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history, .wrimagecard-image-asset-inspection {
        margin-left: 390px;
    }

    .label-asset-inspection {
        padding-top: 15px;
    }

    .labelmt-asset-inspection {
        margin-top: 15px;
    }

    .line-ver {
        left: 128px;
    }

    /* COMPANY, DATA PROPERTY */
    .form-data-property .form-title {
        width: 10%;
    }

    /* TAB */
    .tab-button-outer li a {
        padding: 10px 30px;
    }

    .nav-tabs-device {
        font-size: 14px;
    }

    .nav-tabs-device-cof {
        font-size: 16px;
    }

    /* DAMAGE MECHANISM SUB TAB */
    /* .damage-mechanism-sub-tab-a {
        width: 142px;
    } */
}

@media (min-width: 1770px) {

    /* CARD ASSET */
    .wrimagecard-image-asset-number, .wrimagecard-image-asset-text  {
        margin-left: 300px;
    }

    .wrimagecard-image-asset-number2 {
        margin-left: 295px;
        margin-top: 20px;
    }

    .wrimagecard-image-asset-text2 {
        margin-left: 295px;
    }

    .labelmt-asset-number {
        margin-top: 10px;
    }

    .labelmt-asset-text {
        margin-top: 20px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history, .wrimagecard-image-asset-inspection {
        margin-left: 420px;
    }

    .label-asset-inspection {
        font-size: 20px;
    }

    .labelmt-asset-inspection {
        margin-top: 10px;
    }

    .line-ver {
        left: 138px;
    }

    /* COMPANY, DATA PROPERTY */
    .form-data-property .form-title {
        width: 9%;
    }

    /* TAB */
    .tab-button-outer li a {
        padding: 10px 40px;
    }

    .nav-tabs-device {
        font-size: 16px;
    }

    .nav-tabs-device-cof {
        font-size: 18px;
    }

    /* DAMAGE MECHANISM SUB TAB */
    /* .damage-mechanism-sub-tab-a {
        width: 154.5px;
    } */
}

@media (min-width: 1920px) {

    /* CARD ASSET */
    .wrimagecard-image-asset-number,
    .wrimagecard-image-asset-text {
        margin-left: 330px;
    }

    .wrimagecard-image-asset-number2,
    .wrimagecard-image-asset-text2 {
        margin-left: 335px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history, .wrimagecard-image-asset-inspection {
        margin-left: 470px;
    }

    .label-asset-inspection {
        font-size: 22px;
    }

    .labelmt-asset-inspection {
        margin-top: 5px;
    }

    .line-ver {
        left: 148px;
    }

    /* COMPANY, DATA PROPERTY */
    .form-data-property .form-title {
        width: 8%;
    }

    .nav-tabs-device {
        font-size: 18px;
    }

    .nav-tabs-device-cof {
        font-size: 20px;
    }

    /* DAMAGE MECHANISM SUB TAB */
    /* .damage-mechanism-sub-tab-a {
        width: 171px;
    } */
}

/* COMPANY, DATA PROPERTY */
.form-group {
    margin-bottom: 10px;
}

.form-data-property {
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.form-data-property .form-title {
    position: relative;
    bottom: 23px;
    background-color: #ffffff;
    padding-left: 7px;
    font-size: 14px;
}

.col-form-label {
    font-size: 12px;
    color: #6C757D;
}

.col-form-label2 {
    font-size: 10px;
    color: #6C757D;
    margin-top: 3px;
}

.col-form-label2-center {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    font-size: 10px;
    color: #212529;
}

.form-control {
    border-radius: 10px;
    color: #6C757D;
}

.form-control:focus {
    border-color: #FFC000;
    box-shadow: 0 0 0 .2rem rgba(255, 192, 0, .25);
}

/* TREE NAVBAR */
.tree,
.tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 1em;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #6C757D;
    font-weight: 700;
    position: relative
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    color: #6C757D;
}

.tree li button,
.tree li button:active,
.tree li button:focus {
    text-decoration: none;
    color: #6C757D;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.cracking-left-bot {
    font-size: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 15px;
}