.inner-body {
    margin: 0;
    padding: 0;
    height: calc(100vh - 64px);
    width: 100%;
    overflow-y: auto;
}

.sidebar {
    float: left;
    width: 295px;
    height: calc(100% - 2px);
    background-color: #fff;
    padding: 5px 0;
    overflow-y: auto;
    background-color: #f8f9fa;
}

.main-content {
    float: left;
    width: calc(100% - 295px);
    height: calc(100% - 0px);
    border-left: 1px solid #cdcdcd;
    background-color: #fff;
    padding: 0;
}

.wrimagecard-asset {
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 120px;
}

.label-asset-text {
    color: #fff;
    font-weight: 900;
}

.label-asset-number {
    color: #fff;
    font-weight: 900;
    font-size: 32px;
}

.labelmt-asset-text, .labelmt-asset-number, .labelmt-asset-history, .labelmt-asset-inspection {
    color: #fff;
    font-weight: 400;
}

.label-asset-inspection {
    color: #fff;
    font-weight: 900;
    font-size: 14px;  
}
.line-ver {
    position:absolute; 
    left:108px;
}

/* tree */
.tree .fa {
    font-size: 14px;
}

.tree,
.tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 1em;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #000;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #f8f9fa;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    color: #369;
}

.tree li button,
.tree li button:active,
.tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

/* Tabpanel */
.tabpanel {
    width: 100%;
    border: none !important;
}

.tabpanel li:first-child .closeTab {
    display: none;
}

.tabpanel li:nth-last-child(1) {
    display: none !important;
}

/* card */
.wrimagecard-topimage_header {
    padding: 20px;
}

.wrimagecard-topimage_title {
    position: absolute;
    top: 20px;
    left: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.wrimagecard-topimage_title .label {
    font-size: 14px;
}

.wrimagecard-topimage_title .value {
    font-size: 28px;
    line-height: 46px;
    margin-left: -2px;
}

/* COMPANY */
.company-img {
    position: relative;
}

.company-text {
    position: absolute;
    top: 130px;
    left: 60%
        /* left: 1050px; */
}

.company-title1 {
    position: absolute;
    top: 170px;
    left: 50%
        /* left: 930px; */
}

.company-title2 {
    position: absolute;
    top: 230px;
    left: 50%
        /* left: 930px; */
}

/* tab css */
.tabs {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

#tab-button {
    /* display: table; */
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 200;
}

#tab-button li {
    display: table-cell;
    min-width: 100px;
}

#tab-button li a {
    display: block;
    padding: 2px 8px;
    background: #eee;
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
    text-decoration: none;
}

#tab-button li:not(:first-child) a {
    border-left: none;
}

#tab-button li a:hover,
#tab-button .is-active a {
    border-bottom-color: transparent;
    background: #fff;
}

.tab-contents {
    padding: .5em 2em 1em;
    /* border-top: 1px solid #ddd; */
}

.tab-button-outer {
    display: none;
}

.tab-contents {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .tab-button-outer {
      position: relative;
      z-index: 2;
      display: block;
    }
    .tab-select-outer {
      display: none;
    }
    .tab-contents {
      position: relative;
      top: -1px;
      margin-top: 0;
      height: calc(100vh - 88px);
    }

    /* CARD ASSET */
    .wrimagecard-image-asset-number, .wrimagecard-image-asset-text {
        margin-left: 120px;
    }

    .wrimagecard-image-asset-number2, .wrimagecard-image-asset-text2 {
        margin-left: 170px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history, .wrimagecard-image-asset-inspection {
        margin-left: 180px;
        margin-top: 10px;
    }

    .wrimagecard-image-asset-inspection {
        margin-left: 190px;
    }
}

@media (min-width: 1280px) {
    /* CARD ASSET */
    .wrimagecard-image-asset-number {
        margin-left: 135px;
        margin-top: 15px;
    }

    .wrimagecard-image-asset-number2 {
        margin-left: 185px;
        margin-top: 15px;
    }

    .wrimagecard-image-asset-text {
        margin-left: 130px;
    }

    .wrimagecard-image-asset-text2 {
        margin-left: 180px;
    }

    .label-asset-text {
        font-size: 20px;
        padding-top: 10px;
    }

    .labelmt-asset-text {
        margin-top: 10px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history {
        margin-left: 200px;
        margin-top: 10px;
    }

    .wrimagecard-image-asset-inspection {
        margin-left: 220px;
        margin-top: 10px;
    }

    .label-asset-inspection {
        padding-top: 15px; 
    }

    .labelmt-asset-inspection {
        padding-top: 10px;
    }
}

@media (min-width: 1366px) {
    /* CARD ASSET */
    .wrimagecard-image-asset-number {
        margin-left: 150px;
        margin-top: 5px;
    }

    .wrimagecard-image-asset-number2 {
        margin-left: 200px;
        margin-top: 5px;
    }

    .wrimagecard-image-asset-text {
        margin-left: 150px;
    }

    .wrimagecard-image-asset-text2 {
        margin-left: 200px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history {
        margin-left: 230px;
        margin-top: 20px;
    }

    .label-asset-inspection {
        padding-top: 8px; 
    }

    .labelmt-asset-history {
        margin-top: 15px;
    }

    .wrimagecard-image-asset-inspection {
        margin-left: 240px;
    }
}

@media (min-width: 1440px) {
    /* CARD ASSET */
    .wrimagecard-image-asset-number, .wrimagecard-image-asset-text {
        margin-left: 170px;
    }

    .wrimagecard-image-asset-number2, .wrimagecard-image-asset-text2 {
        margin-left: 220px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history {
        margin-left: 255px;
    }

    .wrimagecard-image-asset-inspection {
        margin-left: 265px;
        margin-top: 15px;
    }

    .label-asset-inspection {
        font-size: 16px; 
        padding-top: 7px;
    }

    .line-ver {
        left: 119px;
    }
}

@media (min-width: 1550px) {
    /* CARD ASSET */
    .wrimagecard-image-asset-number, .wrimagecard-image-asset-text {
        margin-left: 195px;
    }

    .wrimagecard-image-asset-number2, .wrimagecard-image-asset-text2 {
        margin-left: 245px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history {
        margin-left: 290px;
    }

    .wrimagecard-image-asset-inspection {
        margin-left: 300px;
        margin-top: 10px;
    }

    .label-asset-inspection {
        font-size: 18px;
        padding-top: 6px;
    }

    .line-ver {
        left: 128px;
    }
}

@media (min-width: 1660px) {
    /* CARD ASSET */
    .wrimagecard-image-asset-number, .wrimagecard-image-asset-text {
        margin-left: 225px;
    }

    .wrimagecard-image-asset-number2, .wrimagecard-image-asset-text2 {
        margin-left: 265px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history {
        margin-left: 325px;
    }

    .wrimagecard-image-asset-inspection {
        margin-left: 335px;
    }

    .label-asset-inspection {
        padding-top: 15px;
    }

    .labelmt-asset-inspection {
        margin-top: 15px;
    }

    .line-ver {
        left: 128px;
    }
}

@media (min-width: 1770px) {
    /* CARD ASSET */
    .wrimagecard-image-asset-number {
        margin-left: 245px;
        margin-top: 20px;
    }

    .wrimagecard-image-asset-number2 {
        margin-left: 295px;
        margin-top: 20px;
    }

    .wrimagecard-image-asset-text {
        margin-left: 245px;
    }

    .wrimagecard-image-asset-text2 {
        margin-left: 295px;
    }

    .labelmt-asset-number {
        margin-top: 10px;
    }

    .labelmt-asset-text {
        margin-top: 20px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history {
        margin-left: 360px;
    }

    .wrimagecard-image-asset-inspection {
        margin-left: 370px;
    }

    .label-asset-inspection {
        font-size: 20px;
    }

    .labelmt-asset-inspection {
        margin-top: 10px;
    }

    .line-ver {
        left: 138px;
    }
}

@media (min-width: 1920px) {
    /* CARD ASSET */
    .wrimagecard-image-asset-number, .wrimagecard-image-asset-text {
        margin-left: 285px;
    }

    .wrimagecard-image-asset-number2, .wrimagecard-image-asset-text2 {
        margin-left: 335px;
    }

    /* CARD CONTENT */
    .wrimagecard-image-asset-history {
        margin-left: 410px;
    }

    .wrimagecard-image-asset-inspection {
        margin-left: 415px;
    }

    .label-asset-inspection {
        font-size: 22px;
    }

    .labelmt-asset-inspection {
        margin-top: 5px;
    }

    .line-ver {
        left: 148px;
    }
}