.inner-body {
    margin: 0;
    padding: 0;
    height: calc(100vh - 79px);
    width: 100%;
    overflow-y: auto;
}

.sidebar {
    float: left;
    width: 295px;
    height: calc(100% - 2px);
    background-color: #fff;
    padding: 5px 0;
    overflow-y: auto;
    background-color: #f8f9fa;
}

.main-content {
    float: left;
    width: calc(100% - 295px);
    height: calc(100% - 0px);
    border-left: 1px solid #cdcdcd;
    background-color: #fff;
    padding: 0;
}

/* tree */
.tree .fa {
 font-size: 14px;
}
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#000;
    font-weight:400;
    font-size: 12px;
    position:relative;
    cursor: pointer;
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#f8f9fa;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

/* Tabpanel */
.tabpanel {
	width: 100%;
	border: none !important;
}

.tabpanel li:first-child .closeTab{
	display: none;
}

.tabpanel li:nth-last-child(1){
	display: none !important;
}

/* card */
.wrimagecard-topimage_header{
    padding: 20px;
}

.wrimagecard-topimage_title {
    position: absolute;
    top: 20px;
    left: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.wrimagecard-topimage_title .label{
    font-size: 14px;
}
.wrimagecard-topimage_title .value{
    font-size: 28px;
    line-height: 46px;
    margin-left: -2px;
}