.navbar {
  border-bottom: 1px solid #cdcdcd;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.table td,
.table th {
  text-align: center;
  font-size: 10px;
}

.body-custom {
  margin-top: 80px;
}

/* LOGIN */

/* LOGIN-FORM */
.welcome {
  font-weight: 600;
  /* margin-top: 1rem; */
}

.pkt-rbi-welcome {
  font-weight: 600;
  font-size: 32px;
}

.email-input,
.password-input,
.submit-login{
  width: 100%;
}

/* .login-user-radio {
  margin-left: -150px;
} */

.submit-login {
  color: #ffffff;
  font-size: 16px;
}

.forgot-password a {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
}

/* FOOTER */
.footer {
  background-color: #F47920;
  clear: both;
  position:relative;
  bottom:0;
  width:100%;
  height:300px;   /* Height of the footer */
}

.footer .row {
  margin-right: 0px;
  margin-left: 0px;
}

.footer-img {
  width: 450px;
  height: 65px;
  margin: 40px 21px 21px;
  padding: 0;
}

.footer-sosial-media,
.footer-contact {
  font-weight: 800;
  color: #fff;
  font-size: 14px;
}

.footer-sosial-media-text,
.footer-contact-text {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

  .form-control:focus {
    border-color: #FFC000;
    box-shadow: 0 0 0 .2rem rgba(255, 192, 0, .25);
}

.form-control-lg {
    border-radius: 10px;
}

.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label,
.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after,
.input-group:not(.has-validation)>.custom-select:not(:last-child),
.input-group:not(.has-validation)>.form-control:not(:last-child) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-group-text {
    border-radius: 10px;
}

/* VALIDATION INPUT */
.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: #FFC000;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    border-color: #FFC000;
    box-shadow: 0 0 0 .2rem rgba(255, 192, 0, .25);
}

/* BUTTON LOGIN */
.btn-warning {
    color: #ffffff;
    background-color: #F47920;
    border-color: #D36426;
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #F47920;
    border-color: #D36426;
}

.btn-warning.focus,
.btn-warning:focus {
    color: #ffffff;
    background-color: #F47920;
    border-color: #D36426;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
    color: #ffffff;
    background-color: #F47920;
    border-color: #D36426;
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(244 121 32 / 50%);
}

.btn-group-lg>.btn,
.btn-lg {
    border-radius: 10px;
}

.custom-control-input.is-valid~.custom-control-label,
.was-validated .custom-control-input:valid~.custom-control-label {
    color: #000000;
}

.btn {
    border-radius: 10px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: hsl(86, 85%, 95%);
  background-image: url(/style/images/background-image-white.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F4F6F9;
  font-family: myFirstFont;
  margin: 0;
  padding: 0;
  width: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url(font/Montserrat-Medium.ttf);
}

.mainlogin {
  height: 100%;
  width: 100%;
}

/*rightside*/
.rightside {
  float: right;
  width: 30%;
  height: 100%;
  background-color: #fff;
}

.rightside .news {
  height: calc(100vh - 300px);
  /* width: 172px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rightside .news .carousel-content {
  width: 240px;
  position: absolute;
}

.news {
  border-left: 2px #616161 solid;
}

/*--------------------
Signup
--------------------*/
.signup {
  width: 70%;
  height: 100%;
  background: transparent;
  border: none;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.signup-connect {
    width: 400px;
    /* padding: 30px 0 0; */
    background-color: transparent;
}

.signup-classic {
    width: 0%;
    padding: 1rem;
    background-color: #FFF1E5;
    border: 1px solid #cdcdcd;
    border-left: none;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-control-prev-icon {
  margin-left: -200px;
}
    
.carousel-control-next-icon {
  margin-right: -200px;
}

/* MEDIA */
@media (min-width: 768px) { 
  .footer-img {
    width: 280px !important;
    height: 40px !important; 
  }

  .carousel-control-prev-icon {
    margin-left: -110px;
  }
      
  .carousel-control-next-icon {
    margin-right: -110px;
  }
}
@media (min-width: 1280px) { 
  .email-input, .password-input, .submit-login {
      width: 90% !important;
  }

  .login-user-radio {
      margin-left: -70px;
  }

  .footer-img {
      width: 280px !important;
      height: 40px !important;
  }

  .carousel-control-prev-icon {
    margin-left: -110px;
  }
      
  .carousel-control-next-icon {
    margin-right: -110px;
  }
}

@media (min-width: 1366px) { 
  .footer-img {
      width: 310px !important;
      height: 43px !important;
  }

  .carousel-control-prev-icon {
    margin-left: -130px;
  }
      
  .carousel-control-next-icon {
    margin-right: -130px;
  }
}

@media (min-width: 1440px) { 
  .footer-img {
      width: 330px !important;
      height: 45px !important;
  }

  .carousel-control-prev-icon {
    margin-left: -150px;
  }
      
  .carousel-control-next-icon {
    margin-right: -150px;
  }
}

@media (min-width: 1550px) { 
  .footer-img {
      width: 352px !important;
      height: 47px !important;
  }

  .carousel-control-prev-icon {
    margin-left: -160px;
  }
      
  .carousel-control-next-icon {
    margin-right: -160px;
  }
}

@media (min-width: 1660px) { 
  .footer-img {
      width: 380px !important;
      height: 55px !important;
  }

  .carousel-control-prev-icon {
    margin-left: -170px;
  }
      
  .carousel-control-next-icon {
    margin-right: -170px;
  }
}

@media (min-width: 1770px) { 
  .footer-img {
      width: 430px !important;
      height: 60px !important;
  }

  .carousel-control-prev-icon {
    margin-left: -200px;
  }
      
  .carousel-control-next-icon {
    margin-right: -200px;
  }
}

@media (min-width: 1920px) { 
  .footer-img {
      width: 460px !important;
  }

  .carousel-control-prev-icon {
    margin-left: -230px;
  }
      
  .carousel-control-next-icon {
    margin-right: -230px;
  }
}
