body {
    background-image: url(images/background-image-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0089ff !important;
    font-family: myFirstFont;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url(font/Montserrat-Medium.ttf);
}

.navbar {
    border-bottom: 1px solid #cdcdcd;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.table td,
.table th {
    text-align: center;
    font-size: 10px;
}

.body-custom {
    margin-top: 80px;
}

/* LOGIN */

/* LOGIN-FORM */
.welcome {
    font-weight: 600;
    /* margin-top: 1rem; */
}

.pkt-rbi-welcome {
    font-weight: 600;
    font-size: 32px;
}

.email-input,
.password-input,
.submit-login{
    width: 100%;
}

/* .login-user-radio {
    margin-left: -150px;
} */

.submit-login {
    color: #ffffff;
    font-size: 16px;
}

.forgot-password a {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
}

/* FOOTER */
.footer {
    background-color: #F47920;
    clear: both;
    position:relative;
    bottom:0;
    width:100%;
    height:300px;   /* Height of the footer */
}

.footer .row {
    margin-right: 0px;
    margin-left: 0px;
}

.footer-img {
    width: 450px;
    height: 65px;
    margin: 40px 21px 21px;
    padding: 0;
}

.footer-sosial-media,
.footer-contact {
    font-weight: 800;
    color: #fff;
    font-size: 14px;
}

.footer-sosial-media-text,
.footer-contact-text {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}

/* Style the tab */
.tab {
    overflow: hidden;
    width: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    background-color: #FFF1E5;
    box-shadow: 3px 3px #F47920;
}

.tab button i {
    margin-right: 10px;
}

.tab .callout {
    display: flex;
    justify-content: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #F47920;
    color: #fff;
    box-shadow: 3px 3px #FFF1E5;
}

.callout {
    position: relative;
    margin: 18px 0;
    background-color: transparent;
    /* easy rounded corners for modern browsers */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.tab .callout button.active .notch {
    left: calc(50% - 12px);
    position: absolute;
    bottom: -12px;
    margin: 0;
    border-bottom: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #F47920;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
    /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}

/* Style the tab content */
.content {
    position: relative;
    height: calc(100vh - 159px);
    overflow: auto;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: #fff;
    border-radius: 8px;
    border-top: none;
}

/* Filter Area */
.filter {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 1rem;
}

.filter-item {
    margin-right: 20px;
    cursor: pointer;
    /* color: #F47920; */
    color: #6C757D
}

.filter-item i {
    /* color: #FFF1E5; */
    color: #6C757D
}

/* Card */
.content .card {
    margin-bottom: 1rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.card-header {
    background-color: #fff;
}

.pos-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.pos-between {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

.card-header span {
    /* color: #F47920; */
    font-size: 11px;
}

.card .card-header button {
    margin-left: 5px;
    padding: 2px 7px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
    border: none;
    /* background-color: #F47920; */
    color: black;
    background-color: #CED4DA;
    /* color: #fff; */
}

.card .card-header button:focus,
.card .card-header button:active {
    border: none;
    outline: none;
}

.card-body .label-number {
    font-size: 32px;
    /* color: #F47920; */
    text-align: center;
    line-height: 28px;
    font-weight: 600;
}

.card-body .label-text {
    font-size: 14px;
    /* color: #F47920; */
    text-align: center;
}

.card-body-custom {
    padding: 10px;
}

.card-title-custom {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}

.card-text-custom {
    font-size: 10px;
}

.card-custom {
    position: relative;
    margin-top: -50px;
}

.card-custom-sub {
    /* width: 172px; */
    /* height: 229px; */
    border-radius: 10px;
    /* margin-left: 2rem; */
    /* margin-right: -160px; */
}

/* .card-img-top {
    height: 100px;
} */

.card-custom-img {
    width: 70px;
    height: 72px;
    position: absolute;
    margin-top: 100px;
    margin-left: 1rem;
}

.card-custom-sub a {
    color: #000000;
}

.card-custom-sub a:hover {
    text-decoration: none;
}

/* Table */
.table-responsive {
    height: 480px;
    overflow-y: scroll;
}

.table-responsive-followupitem {
    height: 435px;
    overflow-y: scroll;
}

thead tr:nth-child(1) th {
    /* background: white; */
    background: #FFC107;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Card with icon */
.wrimagecard {
    /* margin-top: 0;
    text-align: left;
    position: relative;
    background: #fff;
    border-radius: 4px;
    transition: all 0.3s ease; */
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 120px;
}

/* .wrimagecard .fa {
    position: relative;
    font-size: 70px;
} */

/* .wrimagecard-topimage_header {
    padding: 20px 20px 20px 40px;
    border-radius: 10px;
} */

/* a.wrimagecard:hover,
.wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
} */

/* .wrimagecard-topimage_title {
    position: absolute;
    top: 20px;
    left: 140px;
    height: 110px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
} */

.wrimagecard-topimage_title {
    margin-left: 240px;
}

.label {
    font-size: 16px;
    color: #fff;
    font-weight: 800;
}

.label-number {
    font-size: 35px;
    color: #fff;
    font-weight: 800;
}

.card-body .label-number {
    text-align: left;
    /* color:#000000 */
}


.labelmt-number {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
}

.labelmt-number2 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-top: 25px;
}

.labelmt {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

/* .value {
    font-size: 40px;
    line-height: 46px;
} */