body {
    /* background-image: url(/style/images/background-image-white.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: myFirstFont;
    /* margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; */
}

@font-face {
    font-family: myFirstFont;
    src: url(font/Montserrat-Medium.ttf);
}

.inner-body {
    margin: 0;
    padding: 0;
    height: calc(100vh - 83px);
    width: 100%;
    overflow-y: auto;
}

/* MENU */
.navbar {
    padding: 0 1rem;
    border: 1px solid #cdcdcd;
}

.hr-menu {
    margin-top: 0;
    margin-bottom: 0;
}

/* Style the tab */
.tab {
    background-color: #F4F6F9;
}

.tab-sub2 {
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.tab-sub2 .row {
    margin: 0;
}

/* Style the buttons that are used to open the tab content */
/* .tab-sub3 button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #FFF1E5;
    box-shadow: 3px 3px #F47920;
    height: 95px;
    border-radius: 10px;
} */

/* .tab-sub3 button i {
    margin-right: 10px;
} */

/* .tab-sub3 .callout {
    display: flex;
    justify-content: center;
} */

/* Change background color of buttons on hover */
.tab-sub2 .tab-btn-asset:hover,
.tab-btn-risk:hover,
.tab-btn-inspection:hover,
.tab-btn-followupitem:hover {
    color: #ffffff;
}

/* Create an active/current tablink class */
.tab-sub2 .tab-btn-asset.active,
.tab-btn-risk.active,
.tab-btn-inspection.active,
.tab-btn-followupitem.active {
    /* background-color: #FFB74D; */
    box-shadow: 3px 3px #F4F6F9;
    color: #ffffff;
}

.tab-sub2 .tab-btn:focus {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

.callout {
    position: relative;
    margin: 18px 0;
    background-color: transparent;
    /* easy rounded corners for modern browsers */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.tab-sub2 .callout button.active .notch-asset {
    left: calc(50% - 12px);
    position: absolute;
    bottom: -12px;
    margin: 0;
    border-bottom: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #FFB74D;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
    /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}

.tab-sub2 .callout button.active .notch-risk {
    left: calc(50% - 12px);
    position: absolute;
    bottom: -12px;
    margin: 0;
    border-bottom: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #81C784;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
    /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}

.tab-sub2 .callout button.active .notch-inspection {
    left: calc(50% - 12px);
    position: absolute;
    bottom: -12px;
    margin: 0;
    border-bottom: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #E57373;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
    /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}

.tab-sub2 .callout button.active .notch-followupitem {
    left: calc(50% - 12px);
    position: absolute;
    bottom: -12px;
    margin: 0;
    border-bottom: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #64B5F6;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
    /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}

.tab-btn-asset {
    position: relative;
    color: #E5A545;
    width: 100%;
    /* font-size: 14px; */
    background-color: #FFB74D;
    /* box-shadow: 3px 3px #F47920; */
    height: 95px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.tab-btn-risk {
    position: relative;
    color: #70AE72;
    width: 100%;
    /* font-size: 14px; */
    background-color: #81C784;
    /* box-shadow: 3px 3px #F47920; */
    height: 95px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.tab-btn-inspection {
    position: relative;
    color: #C96161;
    width: 100%;
    /* font-size: 14px; */
    background-color: #E57373;
    /* box-shadow: 3px 3px #F47920; */
    height: 95px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.tab-btn-followupitem {
    position: relative;
    color: #549BD4;
    width: 100%;
    /* font-size: 14px; */
    background-color: #64B5F6;
    /* box-shadow: 3px 3px #F47920; */
    height: 95px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.tab-btn-asset .tab-img-asset {
    position: absolute;
    background-color: #D49A42;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    font-size: 50px;
}

.tab-btn-risk .tab-img-risk {
    position: absolute;
    background-color: #649D65;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    font-size: 50px;
}

.tab-btn-inspection .tab-img-inspection {
    position: absolute;
    background-color: #B25959;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    font-size: 50px;
}

.tab-btn-followupitem .tab-img-followupitem {
    position: absolute;
    background-color: #4A8CC0;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    font-size: 50px;
}

.tab-btn-asset .tab-text-asset,
.tab-btn-risk .tab-text-risk,
.tab-btn-inspection .tab-text-inspection,
.tab-btn-followupitem .tab-text-followupitem {
    font-size: 24px;
    left: 100px;
}

/* Style the tab content */
.content {
    position: relative;
    /* height: calc(100vh - 159px); */
    overflow: auto;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: #F4F6F9;
    border-radius: 8px;
    border-top: none;
}

/* Filter Area */
.filter {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.filter-item {
    cursor: pointer;
    /* color: #F47920; */
    color: #6C757D
}

.filter-item i {
    /* color: #FFF1E5; */
    color: #6C757D
}

/* Card */
.content .card {
    margin-bottom: 1.5rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0;
}

.card-header {
    background-color: #fff;
}

.pos-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.pos-between {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

.card-header span {
    color: #6C757D;
    font-size: 14px;
}

.card .card-header button {
    margin-left: 5px;
    padding: 2px 7px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
    border: none;
    /* background-color: #F47920; */
    color: black;
    background-color: #CED4DA;
    /* color: #fff; */
}

.card .card-header button:focus,
.card .card-header button:active {
    border: none;
    outline: none;
}

.card-body .label-number {
    font-size: 32px;
    /* color: #F47920; */
    text-align: center;
    line-height: 28px;
    font-weight: 600;
}

.card-body .label-text {
    font-size: 14px;
    /* color: #F47920; */
    text-align: center;
}

.card-body-custom {
    padding: 10px;
}

.card-title-custom {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}

.card-text-custom {
    font-size: 10px;
}

.card-custom {
    position: relative;
    margin-top: -50px;
}

.card-custom-sub {
    /* width: 172px; */
    /* height: 229px; */
    border-radius: 10px;
    /* margin-left: 2rem; */
    /* margin-right: -160px; */
}

/* .card-img-top {
    height: 100px;
} */

.card-custom-img {
    width: 70px;
    height: 72px;
    position: absolute;
    margin-top: 100px;
    margin-left: 1rem;
}

.card-custom-sub a {
    color: #000000;
}

.card-custom-sub a:hover {
    text-decoration: none;
}

/* Table */
.table-responsive {
    height: 517px;
    overflow-y: scroll;
}

.table-responsive-followupitem {
    height: 455px;
    overflow-y: scroll;
}

.checkBoxTbl {
    margin-left: 20px
}

thead tr:nth-child(1) th {
    /* background: white; */
    background: #FFC107;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 10px;
    text-align: center;
}


/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Card with icon */
.wrimagecard {
    /* margin-top: 0;
    text-align: left;
    position: relative;
    background: #fff;
    border-radius: 4px;
    transition: all 0.3s ease; */
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 120px;
}

.iconcard {
    margin-top: 5px;
    color: #6C757D;
}

/* .wrimagecard .fa {
    position: relative;
    font-size: 70px;
} */

/* .wrimagecard-topimage_header {
    padding: 20px 20px 20px 40px;
    border-radius: 10px;
} */

/* a.wrimagecard:hover,
.wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
} */

/* .wrimagecard-topimage_title {
    position: absolute;
    top: 20px;
    left: 140px;
    height: 110px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
} */

.wrimagecard-topimage_title {
    margin-left: 230px;
}

.label {
    font-size: 16px;
    color: #fff;
    font-weight: 800;
}

.label-number {
    font-size: 35px;
    color: #fff;
    font-weight: 800;
}

.card-body .label-number {
    text-align: left;
    /* color:#000000 */
}


.labelmt-number {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-top: 0px;
}

.labelmt-number2 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-top: 25px;
}

.labelmt {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .value {
    font-size: 40px;
    line-height: 46px;
} */

/* MEDIA */
@media (min-width: 768px) {

    /* ASSET CARD  */
    .wrimagecard-icon-registered,
    .wrimagecard-icon-assessed,
    .wrimagecard-icon-validation,
    .wrimagecard-icon-offline {
        margin-left: 180px;
        margin-top: 20px;
    }

    /* INSPECTION CARD  */
    .wrimagecard-icon-remaining,
    .wrimagecard-icon-activity,
    .wrimagecard-icon-ta,
    .wrimagecard-icon-overdue {
        margin-left: 180px;
        margin-top: 20px;
    }

}

@media (min-width: 1280px) {

    .tab-btn-inspection .tab-text-inspection,
    .tab-btn-followupitem .tab-text-followupitem {
        left: 85px;
    }

    /* ASSET CARD  */
    .asset-card-registered,
    .asset-card-assessed,
    .asset-card-validation,
    .asset-card-offline {
        padding-top: 10px;
    }

    .wrimagecard-icon-registered,
    .wrimagecard-icon-assessed,
    .wrimagecard-icon-validation,
    .wrimagecard-icon-offline {
        margin-left: 210px;
        margin-top: 10px;
    }

    /* INSPECTION CARD  */
    .inspection-card-remaining,
    .inspection-card-activity,
    .inspection-card-overdue,
    .inspection-card-ta {
        padding-top: 10px;
    }

    .wrimagecard-icon-remaining,
    .wrimagecard-icon-activity,
    .wrimagecard-icon-ta {
        margin-top: 10px;
        margin-left: 210px;
    }

    .wrimagecard-icon-overdue {
        margin-top: 30px;
        margin-left: 210px;
    }

    /* FOLLOW UP ITEM */
    .followupitem-card-arround {
        padding-top: 25px;
    }

    .followupitem-card-area,
    .followupitem-card-history,
    .followupitem-card-next-ta {
        padding-top: 10px;
    }

    .wrimagecard-icon-arround {
        margin-top: 25px;
        margin-left: 210px;
    }

    .wrimagecard-icon-area,
    .wrimagecard-icon-history,
    .wrimagecard-icon-next-ta {
        margin-top: 10px;
        margin-left: 210px;
    }
}

@media (min-width: 1366px) {

    .tab-btn-inspection .tab-text-inspection,
    .tab-btn-followupitem .tab-text-followupitem {
        left: 95px;
    }

    /* ASSET CARD  */
    .wrimagecard-icon-registered,
    .wrimagecard-icon-assessed,
    .wrimagecard-icon-validation,
    .wrimagecard-icon-offline {
        margin-left: 230px;
    }

    .wrimagecard-icon-offline {
        margin-top: 30px;
    }

    /* INSPECTION CARD  */
    .wrimagecard-icon-remaining,
    .wrimagecard-icon-activity,
    .wrimagecard-icon-ta,
    .wrimagecard-icon-overdue {
        margin-left: 230px;
    }

    .wrimagecard-icon-ta {
        margin-top: 30px;
    }

    /* FOLLOW UP ITEM */
    .wrimagecard-icon-arround,
    .wrimagecard-icon-area,
    .wrimagecard-icon-history,
    .wrimagecard-icon-next-ta {
        margin-left: 230px;
    }

    .wrimagecard-icon-area {
        margin-top: 30px;
    }
}

@media (min-width: 1440px) {

    .tab-btn-inspection .tab-text-inspection,
    .tab-btn-followupitem .tab-text-followupitem {
        left: 100px;
    }

    /* ASSET CARD  */
    .wrimagecard-icon-registered,
    .wrimagecard-icon-assessed,
    .wrimagecard-icon-validation,
    .wrimagecard-icon-offline {
        margin-left: 245px;
    }

    .wrimagecard-icon-assessed,
    .wrimagecard-icon-offline {
        margin-top: 35px;
    }

    /* INSPECTION CARD  */
    .wrimagecard-icon-remaining,
    .wrimagecard-icon-activity,
    .wrimagecard-icon-ta,
    .wrimagecard-icon-overdue {
        margin-left: 245px;
    }

    /* FOLLOW UP ITEM */
    .wrimagecard-icon-arround,
    .wrimagecard-icon-area,
    .wrimagecard-icon-history,
    .wrimagecard-icon-next-ta {
        margin-left: 245px;
    }

    .wrimagecard-icon-next-ta {
        margin-top: 35px;
    }
}

@media (min-width: 1550px) {

    .tab-btn-asset .tab-text-asset,
    .tab-btn-risk .tab-text-risk,
    .tab-btn-inspection .tab-text-inspection,
    .tab-btn-followupitem .tab-text-followupitem {
        left: 115px;
    }

    /* ASSET CARD  */
    .wrimagecard-icon-registered,
    .wrimagecard-icon-assessed,
    .wrimagecard-icon-validation,
    .wrimagecard-icon-offline {
        margin-left: 270px;
    }

    .wrimagecard-icon-registered {
        margin-top: 35px;
    }

    /* INSPECTION CARD  */
    .wrimagecard-icon-remaining,
    .wrimagecard-icon-activity,
    .wrimagecard-icon-ta,
    .wrimagecard-icon-overdue {
        margin-left: 270px;
    }

    .wrimagecard-icon-remaining,
    .wrimagecard-icon-activity {
        margin-top: 35px;
    }

    /* FOLLOW UP ITEM */
    .wrimagecard-icon-arround,
    .wrimagecard-icon-area,
    .wrimagecard-icon-history,
    .wrimagecard-icon-next-ta {
        margin-left: 270px;
    }
}

@media (min-width: 1660px) {

    .tab-btn-asset .tab-text-asset,
    .tab-btn-risk .tab-text-risk,
    .tab-btn-inspection .tab-text-inspection,
    .tab-btn-followupitem .tab-text-followupitem {
        left: 120px;
    }

    /* ASSET CARD  */
    .wrimagecard-icon-registered,
    .wrimagecard-icon-assessed,
    .wrimagecard-icon-validation,
    .wrimagecard-icon-offline {
        margin-left: 300px;
    }

    .wrimagecard-icon-validation {
        margin-top: 35px;
    }

    /* INSPECTION CARD  */
    .wrimagecard-icon-remaining,
    .wrimagecard-icon-activity,
    .wrimagecard-icon-ta,
    .wrimagecard-icon-overdue {
        margin-left: 300px;
    }

    /* FOLLOW UP ITEM */
    .wrimagecard-icon-arround,
    .wrimagecard-icon-area,
    .wrimagecard-icon-history,
    .wrimagecard-icon-next-ta {
        margin-left: 300px;
    }

    .wrimagecard-icon-history {
        margin-top: 35px;
    }
}

@media (min-width: 1770px) {

    .tab-btn-asset .tab-text-asset,
    .tab-btn-risk .tab-text-risk,
    .tab-btn-inspection .tab-text-inspection,
    .tab-btn-followupitem .tab-text-followupitem {
        left: 130px;
    }

    /* ASSET CARD  */
    .wrimagecard-icon-registered,
    .wrimagecard-icon-assessed,
    .wrimagecard-icon-validation,
    .wrimagecard-icon-offline {
        margin-left: 330px;
    }

    /* INSPECTION CARD  */
    .wrimagecard-icon-remaining,
    .wrimagecard-icon-activity,
    .wrimagecard-icon-ta,
    .wrimagecard-icon-overdue {
        margin-left: 330px;
    }

    /* FOLLOW UP ITEM */
    .wrimagecard-icon-arround,
    .wrimagecard-icon-area,
    .wrimagecard-icon-history,
    .wrimagecard-icon-next-ta {
        margin-left: 330px;
    }
}

@media (min-width: 1920px) {

    .tab-btn-asset .tab-text-asset,
    .tab-btn-risk .tab-text-risk,
    .tab-btn-inspection .tab-text-inspection,
    .tab-btn-followupitem .tab-text-followupitem {
        left: 150px;
    }

    /* ASSET CARD  */
    .wrimagecard-icon-registered,
    .wrimagecard-icon-assessed,
    .wrimagecard-icon-validation,
    .wrimagecard-icon-offline {
        margin-left: 360px;
    }

    /* INSPECTION CARD  */
    .wrimagecard-icon-remaining,
    .wrimagecard-icon-activity,
    .wrimagecard-icon-ta,
    .wrimagecard-icon-overdue {
        margin-left: 360px;
    }

    /* FOLLOW UP ITEM */
    .wrimagecard-icon-arround,
    .wrimagecard-icon-area,
    .wrimagecard-icon-history,
    .wrimagecard-icon-next-ta {
        margin-left: 360px;
    }
}

/* FILTER */
.custom-select {
    border-radius: 10px;
}

.input-group-text {
    border-radius: 10px;
}